In [ ]:
import streamlit as st
import pandas as pd 
import plotly.express as px

column_names= ["price", "model_year", "model", "condition", "cylinders", "fuel", "odometer", "transmission", "type", "paint_color", "is_4wd", "date_posted", "days_listed"]


df = pd.read_csv('/Users/jeffreyheller/Desktop/Dev_Tools_Project/vehicles_us.csv', sep =',', header=None, names=column_names)

df = df.iloc[2:]

df['manufacturer'] = df['model'].apply(lambda x: x.split()[0])

print(df.head(5))

#the csv file was assuming the header of the file to be the first row of data. 
# the file was opened and column names were assigned above to be able to more accurately work with the data.

   price model_year           model  condition cylinders fuel  odometer  \
2   9400     2011.0          bmw x5       good         6  gas  145000.0
3  25500        NaN      ford f-150       good         6  gas   88705.0
4   5500     2013.0  hyundai sonata   like new         4  gas  110000.0
5   1500     2003.0      ford f-150       fair         8  gas       NaN
6  14900     2017.0    chrysler 200  excellent         4  gas   80903.0

  transmission    type paint_color is_4wd date_posted days_listed manufacturer
2    automatic     SUV         NaN    1.0  2018-06-23          19          bmw
3    automatic  pickup       white    1.0  2018-10-19          50         ford
4    automatic   sedan         red    NaN  2019-02-07          79      hyundai
5    automatic  pickup         NaN    NaN  2019-03-22           9         ford
6    automatic   sedan       black    NaN  2019-04-02          28     chrysler

In [ ]:
print(df.shape)

(51525, 14)

In [ ]:
print(df.describe)

<bound method NDFrame.describe of        price model_year           model  condition cylinders fuel  odometer  \
2       9400     2011.0          bmw x5       good         6  gas  145000.0
3      25500        NaN      ford f-150       good         6  gas   88705.0
4       5500     2013.0  hyundai sonata   like new         4  gas  110000.0
5       1500     2003.0      ford f-150       fair         8  gas       NaN
6      14900     2017.0    chrysler 200  excellent         4  gas   80903.0
...      ...        ...             ...        ...       ...  ...       ...
51522   9249     2013.0   nissan maxima   like new         6  gas   88136.0
51523   2700     2002.0     honda civic    salvage         4  gas  181500.0
51524   3950     2009.0  hyundai sonata  excellent         4  gas  128000.0
51525   7455     2013.0  toyota corolla       good         4  gas  139573.0
51526   6300     2014.0   nissan altima       good         4  gas       NaN

      transmission    type paint_color is_4wd date_posted days_listed  \
2        automatic     SUV         NaN    1.0  2018-06-23          19
3        automatic  pickup       white    1.0  2018-10-19          50
4        automatic   sedan         red    NaN  2019-02-07          79
5        automatic  pickup         NaN    NaN  2019-03-22           9
6        automatic   sedan       black    NaN  2019-04-02          28
...            ...     ...         ...    ...         ...         ...
51522    automatic   sedan       black    NaN  2018-10-03          37
51523    automatic   sedan       white    NaN  2018-11-14          22
51524    automatic   sedan        blue    NaN  2018-11-15          32
51525    automatic   sedan       black    NaN  2018-07-02          71
51526    automatic   sedan         NaN    NaN  2018-06-05          10

      manufacturer
2              bmw
3             ford
4          hyundai
5             ford
6         chrysler
...            ...
51522       nissan
51523        honda
51524      hyundai
51525       toyota
51526       nissan

[51525 rows x 14 columns]>

In [ ]:
df.isnull().sum()

#'is_4wd' is a binary value (yes/no) but is represented by either 1.0(yes) or 'Nan'(no)

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
manufacturer        0
dtype: int64

In [ ]:
#The following lines of code are to identify if any duplicate errors exist amongst the int type values. 

print(df['model'].value_counts())

model
ford f-150                           2796
chevrolet silverado 1500             2171
ram 1500                             1750
chevrolet silverado                  1271
jeep wrangler                        1119
                                     ...
ford f-250 super duty                 241
acura tl                              236
kia sorento                           236
nissan murano                         235
mercedes-benz benze sprinter 2500      41
Name: count, Length: 100, dtype: int64

In [ ]:
print(df['manufacturer'].value_counts())
print()
print(df['paint_color'].value_counts())
print()
print(df['condition'].value_counts())
print()
print(df['fuel'].value_counts())
print()
print(df['transmission'].value_counts())
print()
print(df['type'].value_counts())
print()
print(df['paint_color'].value_counts())

manufacturer
ford             12672
chevrolet        10611
toyota            5445
honda             3485
ram               3316
jeep              3281
nissan            3208
gmc               2378
subaru            1272
dodge             1255
hyundai           1173
volkswagen         869
chrysler           838
kia                585
cadillac           322
buick              271
bmw                267
acura              236
mercedes-benz       41
Name: count, dtype: int64

paint_color
white     10029
black      7692
silver     6244
grey       5037
blue       4475
red        4421
green      1396
brown      1223
custom     1153
yellow      255
orange      231
purple      102
Name: count, dtype: int64

condition
excellent    24773
good         20145
like new      4742
fair          1607
new            143
salvage        115
Name: count, dtype: int64

fuel
gas         47288
diesel       3714
hybrid        409
other         108
electric        6
Name: count, dtype: int64

transmission
automatic    46902
manual        2829
other         1794
Name: count, dtype: int64

type
SUV            12405
truck          12353
sedan          12154
pickup          6988
coupe           2303
wagon           1541
mini-van        1161
hatchback       1047
van              633
convertible      446
other            256
offroad          214
bus               24
Name: count, dtype: int64

paint_color
white     10029
black      7692
silver     6244
grey       5037
blue       4475
red        4421
green      1396
brown      1223
custom     1153
yellow      255
orange      231
purple      102
Name: count, dtype: int64

In [ ]:
# the data set carries negligable amounts of mercedes-benz's, many of which have missing data in the other categories. 
# for my purposes here im going to exclude all rows that include 'mercedes-benz' in the manufacturer column 
df = df[df['manufacturer'] != 'mercedes-benz']

In [ ]:
# rows with NaN values are also not going to be included in any of the analysis
df = df.dropna()

# Reset the index after removing rows
df.reset_index(drop=True, inplace=True)